/* Navigation styles */
nav a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:focus {
    font: bold;
    color: #ffcb05;

}

nav li {
    margin-right: 24px;
}

nav {
    background-color: #00274c;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 115px;
    text-align: left;
}

header .logo {
    border-right: 1px solid white;
    height: 100px;
    position: absolute;
    left: 0px;
}

/* general setting */
body {
    font-size: 16px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Palatino Linotype";
    font-size: 36px;
    text-align: left;
    line-height: 1.125em;
    padding: 24px 16px 0 16px
}

h2 {
    font-size: 20px;
    line-height: 1.25em;
    color: #2F65A7;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    line-height: 1.25em;
    color: #000000;
}

p {
    margin-bottom: 20px;
    line-height: 1.5em;
}

main ul,
main ol {
    margin-bottom: 20px;
    line-height: 1.5em;
    list-style-position: inside;
}

/* footer */
footer a,
footer {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

footer {
    background-color: #00274c;
    padding: 30px 16px;
    text-align: center;
}

/* skip to the main content link styles */
.skip a {
    position: absolute;
    top: -65px;
    background: white;
    overflow: hidden;
    z-index: 1000;
}

.skip a:focus {
    top: 25px;
}

/* Main */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
}

/*  gap: 16px;
    margin: 24px auto;*/


.container>.overview {
    grid-column: 1 / -1;
}

/* Sections effect */

.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
    grid-column: 1/-1;
    padding: 20px 16px;
    font-family: Helvetica;
}

/* lists*/
#Start li,
#ResumeResource li,
#ResumeFAQ li,
#Alumni li,
#DataResource li,
#UX li,
#Library li,
#OtherResource li,
#PHDResource li {
    border: rgb(216, 221, 230) solid 1px;
    background-color: rgb(243, 247, 255);
    border-radius: 2%;
    margin-bottom: 10px;
    padding: 16px;
    box-shadow: 0 0 4px #d2d2d2;
    list-style-type: none;
}

#resource li,
#ResumeFAQ li {
    border: rgb(255, 255, 255) solid 1px;
    border-left: #00274c solid 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    margin: 8px 0;
    padding: 16px;
    box-shadow: 0 0 4px #d2d2d2;
    list-style-type: none;
}

#Alumni ul li{
    grid-column: 1/span 1;
}

#Start a,
#Alumni a,
#DataResource a,
#UX a,
#Library a,
#OtherResource a,
#PHDResource a {
    text-decoration: none;
}

iframe,
main img {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 100%;
    height: auto;
    /*display: block;*/
}

#Alumni ul,
#DataResource ul,
#UX ul,
#Library ul,
#OtherResource ul,
#PHDResource ul {
    margin-top: 20px;
    margin-bottom: 32px;
    padding-left: 0;
    list-style-position: inside;
}

.FAQ1 {
    position: relative;
    display: inline;
}

.item1 {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 16px 16px;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 0.5rem;
}



@media screen and (min-width: 900px) {

    /* Navigation */
    nav {
        background-color: #00274c;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
    }

    nav ul {
        display: block;
        padding: 48px 36px;
    }

    nav ul li a {
        padding-top: 15px;
        padding-bottom: 24px;
        padding-left: 36px;
        float: left;
    }

    ul li a:hover {
        text-decoration: underline;
    }

    header .logo {
        border-right: 1px solid white;
        height: 50px;
        position: absolute;
        left: 0px;
    }

    /* grid system*/
    .section1 .alumni,
    .section1 .success,
    .section2 .international,
    .section3 .resume_resource,
    .section3 .Start,
    .section3 .Popular,
    .section3 .interview,
    .Resource,
    .section1 .roadmap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 16px;
    }

    /*section 2 li*/
    .section2 .Resource ul,
    .section3 .Popular,
    .section1 .alumni ul {
        display: contents;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .section2 .international img,
    .section3 .resume_resource img,
    .alumni img {
        grid-column: 1/ 3;
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
    }

    /*H2 span both columns */
    .section1 h2,
    .section1 h3,
    .Popular h3,
    .section3 .Start h2,
    .section3 .Start h3,
    .resume_resource h2,
    .section2 h2,
    .section2 .international h2,
    .section3 .interview h2 {
        grid-column: 1 / -1;
        margin-top: 24px;
        margin-bottom: 12px;
    }


    /* #Start */
    #Start_image,
    #Roadmap img,
    #International p,
    #ResumeResource ul,
    #ResumeResource p,
    #Interview img,
    #Alumni p,
    #Success Iframe {
        grid-column: 3/6;
        width: 100%;
        padding: 0 16px 24px 16px;
        align-items: start;
    }

    #Start ul,
    #Roadmap p,
    #Interview p,
    #Success p {
        grid-column: 1/ span 2;
        padding-bottom: 24px, 0;
    }

    /*divide career_exploration page section 1 into two comlumn equally*/
    #Success ul,
    .phd_resource {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 16px;
        align-items: start;
    }

    .phd_resource iframe {
        grid-column: 1/2;
    }

    .phd_resource ul {
        grid-column: 2/3;
        margin-top: 0;
        align-items: start;
    }
}